<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">All CLient Admins</h4>
        <p class="card-description"> Add class <code>.table</code>
        </p>
        <div id="client_admins-table"></div>
      </div>
    </div>
  </div>
</div>


<script>

  new gridjs.Grid({
    columns: [
      "Name",
      "Address",
      "Organization"
    ],
    server: {
      method: "GET",
      data: {},
      url: '/api/client-admins',
      then: (data) => {
        return data.data.client_admins.map((client_admin) => [
          client_admin.username,
          client_admin.email,
          client_admin.organization?.name || "N/A",
        ]);
      },
    },
    search: true,
    pagination: { enabled: true, limit: 10 },
    sort: true,
  }).render(document.getElementById("client_admins-table"));

</script>