<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">All Services</h4>
        <p class="card-description"> Add class <code>.table</code>
        </p>
        <div id="services-table"></div>
      </div>
    </div>
  </div>
</div>


<script>

  new gridjs.Grid({
    columns: [
      "Name",
      "Description",
      "Category"
    ],
    server: {
      method: "GET",
      data: {},
      url: '/api/services',
      then: (data) => {
        return data.data.services.map((service) => [
          service.name,
          service.description,
          service.category?.name || "N/A",
        ]);
      },
    },
    search: true,
    pagination: { enabled: true, limit: 10 },
    sort: true,
  }).render(document.getElementById("services-table"));

</script>